#! .editorconfig

root = true

# universal
[*]
#? Linux/MacOS both use "Line Feed" (LF) & Windows uses "Carriage Return + Line Feed" (CRLF)
#TODO test if `* text = auto` in .gitattributes is necessary
end_of_line = auto #* due to OS variance set eol to "auto" universally

# documentation
[*.mdx?]
charset = utf-8
max_line_length = 240
insert_final_newline = false
indent_style = space
indent_size = 2
tab_width = unset
trim_trailing_whitespace = false

# fixtures
[*.{json,jsonc,json5,jsonl}]
charset = utf-8
max_line_length = 120
insert_final_newline = true
indent_style = tab
indent_size = 1
tab_width = 2
trim_trailing_whitespace = true

# configurations
[*.{yaml,yml}]
charset = utf-8
max_line_length = 120
insert_final_newline = false
indent_style = space
indent_size = 2
tab_width = unset
trim_trailing_whitespace = true

# schemes
[*.{css,less,postcss,sass,scss,styl}]
charset = utf-8
max_line_length = 80
insert_final_newline = true
indent_style = tab
indent_size = 1
tab_width = 2
trim_trailing_whitespace = true

# semantics
[*.{htm,html,htmx}]
charset = utf-8
max_line_length = 96
insert_final_newline = false
indent_style = space
indent_size = 2
tab_width = unset
trim_trailing_whitespace = true

# vectors
[*.svg]
charset = utf-8
max_line_length = 96
insert_final_newline = false
indent_style = space
indent_size = 2
tab_width = unset
trim_trailing_whitespace = true

# scripts
[*.{cjs,js,jsx,mjs,ts,tsx}]
charset = utf-8
max_line_length = 72
insert_final_newline = true
indent_style = tab
indent_size = 1
tab_width = 2
trim_trailing_whitespace = true