# authentication
strict-ssl = true

# audit
audit = true
audit-level = moderate

# cache
cache = .cache/npm

# support
fund = false

# lockfiles
package-lock = true
lockfile-version = 2

# versions
save-exact = true
save-prefix =

# artifactory
registry = https://registry.npmjs.org/
